$primary            : #08786A;
$primary-darker     : #056154;
$primary-even-darker: #012B28;
$secondary          : #14c2af;
$secondary-darker   : #169989;
$bg                 : #001010;
$light              : #efefef;
$primary-border     : #01342E;
$dark               : #000;
$error              : #ff3434